In [2]:
import pandas as pd
import tkinter as tk
from tkinter import filedialog as fd

# Import the data
root = tk.Tk()                     
root.withdraw()
root.attributes("-topmost", True)
root.focus_force()

Well_File_Path = fd.askopenfilename(filetypes=[('Well File', '.csv')])
df = pd.read_csv(Well_File_Path, on_bad_lines='skip')
df.head()

,Investigator,Unnamed: 1,Time (s),Electrode,Amplitude (mV)
0,Recording Name,Plate 2 MEA Analylsis Test,0.78288,A3_31,0.017
1,Description,NaN,1.35520,A2_21,0.025
2,NaN,NaN,2.05072,A3_31,0.018
3,Maestro Pro Settings,NaN,2.77576,A2_46,0.016
4,Original File Time,09/26/2024 12:38:27,2.84952,A2_46,0.018

In [4]:
# Drop rows with non-finite values in 'Time (s)'
df = df.dropna(subset=['Time (s)'])

# Initialize new columns
df['Time (ms)'] = 0

# Convert 'Time (s)' to milliseconds and create 1ms bins using a loop
for i in range(len(df)):
    time_s = df.at[i, 'Time (s)']
    time_ms = time_s * 1000
    df.at[i, 'Time (ms)'] = time_ms

df.head(10)

C:\Users\Lindsay\AppData\Local\Temp\ipykernel_26068\1457223536.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '782.88' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.at[i, 'Time (ms)'] = time_ms

,Investigator,Unnamed: 1,Time (s),Electrode,Amplitude (mV),Time (ms)
0,Recording Name,Plate 2 MEA Analylsis Test,0.78288,A3_31,0.017,782.88
1,Description,NaN,1.35520,A2_21,0.025,1355.20
2,NaN,NaN,2.05072,A3_31,0.018,2050.72
3,Maestro Pro Settings,NaN,2.77576,A2_46,0.016,2775.76
4,Original File Time,09/26/2024 12:38:27,2.84952,A2_46,0.018,2849.52
5,Sampling Frequency,12.5 kHz,3.46448,A2_21,0.022,3464.48
6,Voltage Scale,-5.48486178148311E-08 V/sample,4.14720,A3_31,0.017,4147.20
7,Experiment Start Time,09/26/2024 12:33:48,4.48424,A2_46,0.017,4484.24
8,Referencing Method,Median,5.13192,A2_22,0.016,5131.92
9,Analog Mode Setting,Neural Spikes,5.13216,A2_11,0.028,5132.16

In [11]:
# Sort the DataFrame by the 'Electrode' column in alphabetical order
df_2 = df.sort_values(by='Electrode')

# Display the first 10 rows
df_2.head(50)

      Investigator Unnamed: 1   Time (s) Electrode  Amplitude (mV)  Time (ms)
5207           NaN        NaN  307.08968     A1_11           0.039  307089.68
5198           NaN        NaN  307.08664     A1_13           0.010  307086.64
5258           NaN        NaN  307.09296     A1_13           0.005  307092.96
5262           NaN        NaN  307.09304     A1_14           0.009  307093.04
5316           NaN        NaN  307.36496     A1_16           0.009  307364.96
5230           NaN        NaN  307.09232     A1_25           0.009  307092.32
5286           NaN        NaN  307.09368     A1_31           0.009  307093.68
5195           NaN        NaN  307.08240     A1_35           0.011  307082.40
5287           NaN        NaN  307.09368     A1_35           0.008  307093.68
7116           NaN        NaN  409.55432     A1_36           0.019  409554.32
2737           NaN        NaN  166.95104     A1_36           0.017  166951.04
2593           NaN        NaN  161.01752     A1_36           0.017  161017.52
2706           NaN        NaN  164.39832     A1_36           0.022  164398.32
2526           NaN        NaN  154.17472     A1_36           0.016  154174.72
2837           NaN        NaN  171.13176     A1_36           0.015  171131.76
5181           NaN        NaN  307.07872     A1_41           0.013  307078.72
5221           NaN        NaN  307.08992     A1_42           0.020  307089.92
5250           NaN        NaN  307.09280     A1_47           0.005  307092.80
5275           NaN        NaN  307.09336     A1_51           0.008  307093.36
5318           NaN        NaN  307.38416     A1_64           0.013  307384.16
5193           NaN        NaN  307.08056     A1_75           0.012  307080.56
6549           NaN        NaN  381.91888     A1_76           0.010  381918.88
5314           NaN        NaN  307.28032     A1_81           0.009  307280.32
5265           NaN        NaN  307.09312     A1_83           0.009  307093.12
5266           NaN        NaN  307.09312     A1_88           0.015  307093.12
6612           NaN        NaN  387.68288     A2_11           0.018  387682.88
766            NaN        NaN   47.34560     A2_11           0.020   47345.60
9924           NaN        NaN  571.02536     A2_11           0.019  571025.36
5559           NaN        NaN  320.96512     A2_11           0.022  320965.12
1723           NaN        NaN  108.15128     A2_11           0.028  108151.28
846            NaN        NaN   52.23960     A2_11           0.016   52239.60
2534           NaN        NaN  156.65248     A2_11           0.023  156652.48
1182           NaN        NaN   73.22104     A2_11           0.020   73221.04
2716           NaN        NaN  165.55712     A2_11           0.018  165557.12
3723           NaN        NaN  226.29704     A2_11           0.019  226297.04
2361           NaN        NaN  141.67608     A2_11           0.024  141676.08
10430          NaN        NaN  599.15864     A2_11           0.024  599158.64
281            NaN        NaN   17.48488     A2_11           0.017   17484.88
2911           NaN        NaN  179.67568     A2_11           0.021  179675.68
8852           NaN        NaN  513.48008     A2_11           0.024  513480.08
7515           NaN        NaN  432.67712     A2_11           0.026  432677.12
6757           NaN        NaN  393.58936     A2_11           0.021  393589.36
10422          NaN        NaN  599.03440     A2_11           0.017  599034.40
4622           NaN        NaN  281.08560     A2_11           0.027  281085.60
112            NaN        NaN   11.28720     A2_11           0.023   11287.20
1731           NaN        NaN  108.24776     A2_11           0.019  108247.76
6753           NaN        NaN  393.52648     A2_11           0.022  393526.48
6940           NaN        NaN  404.05936     A2_11           0.021  404059.36
7498           NaN        NaN  429.72176     A2_11           0.022  429721.76
5505           NaN        NaN  320.01136     A2_11           0.018  320011.36

In [15]:
import pandas as pd
import tkinter as tk
from tkinter import filedialog as fd

# Import the data
root = tk.Tk()                     
root.withdraw()
root.attributes("-topmost", True)
root.focus_force()

Well_File_Path = fd.askopenfilename(filetypes=[('Well File', '.csv')])
df = pd.read_csv(Well_File_Path, on_bad_lines='skip')

# Drop rows with non-finite values in 'Time (s)'
df = df.dropna(subset=['Time (s)'])

# Convert 'Time (s)' to milliseconds
df['Time (ms)'] = df['Time (s)'] * 1000

# Create 1ms bins
df['time_bin'] = df['Time (ms)'].astype(int)

# Group by Electrode and time_bin, then count spikes
grouped_df = df.groupby(['Electrode', 'time_bin']).size().reset_index(name='spike_count')

# Create interval start and interval end columns
grouped_df['interval_start (ms)'] = grouped_df['time_bin'] + 1
grouped_df['interval_end (ms)'] = grouped_df['time_bin'] + 2

# Pivot the DataFrame to have Electrode as columns and intervals as rows
pivot_df = grouped_df.pivot_table(index=['interval_start (ms)', 'interval_end (ms)'], columns='Electrode', values='spike_count', fill_value=0)

# Sort the columns alphabetically
pivot_df = pivot_df.reindex(sorted(pivot_df.columns), axis=1)

# Reset the index to have a flat DataFrame
pivot_df.reset_index(inplace=True)

# Display the DataFrame
print(pivot_df.head(50))

Electrode  interval_start (ms)  interval_end (ms)  A1_11  A1_13  A1_14  A1_16  \
0                          783                784    0.0    0.0    0.0    0.0
1                         1356               1357    0.0    0.0    0.0    0.0
2                         2051               2052    0.0    0.0    0.0    0.0
3                         2776               2777    0.0    0.0    0.0    0.0
4                         2850               2851    0.0    0.0    0.0    0.0
5                         3465               3466    0.0    0.0    0.0    0.0
6                         4148               4149    0.0    0.0    0.0    0.0
7                         4485               4486    0.0    0.0    0.0    0.0
8                         5132               5133    0.0    0.0    0.0    0.0
9                         5133               5134    0.0    0.0    0.0    0.0
10                        5152               5153    0.0    0.0    0.0    0.0
11                        5163               5164    0.0    0.0    0.0    0.0
12                        5171               5172    0.0    0.0    0.0    0.0
13                        5177               5178    0.0    0.0    0.0    0.0
14                        5193               5194    0.0    0.0    0.0    0.0
15                        5194               5195    0.0    0.0    0.0    0.0
16                        5231               5232    0.0    0.0    0.0    0.0
17                        5234               5235    0.0    0.0    0.0    0.0
18                        5247               5248    0.0    0.0    0.0    0.0
19                        5261               5262    0.0    0.0    0.0    0.0
20                        5267               5268    0.0    0.0    0.0    0.0
21                        5270               5271    0.0    0.0    0.0    0.0
22                        5274               5275    0.0    0.0    0.0    0.0
23                        5286               5287    0.0    0.0    0.0    0.0
24                        5289               5290    0.0    0.0    0.0    0.0
25                        5296               5297    0.0    0.0    0.0    0.0
26                        5308               5309    0.0    0.0    0.0    0.0
27                        5309               5310    0.0    0.0    0.0    0.0
28                        5315               5316    0.0    0.0    0.0    0.0
29                        5341               5342    0.0    0.0    0.0    0.0
30                        5352               5353    0.0    0.0    0.0    0.0
31                        5359               5360    0.0    0.0    0.0    0.0
32                        5363               5364    0.0    0.0    0.0    0.0
33                        5368               5369    0.0    0.0    0.0    0.0
34                        5382               5383    0.0    0.0    0.0    0.0
35                        5383               5384    0.0    0.0    0.0    0.0
36                        5394               5395    0.0    0.0    0.0    0.0
37                        5398               5399    0.0    0.0    0.0    0.0
38                        5408               5409    0.0    0.0    0.0    0.0
39                        5411               5412    0.0    0.0    0.0    0.0
40                        5414               5415    0.0    0.0    0.0    0.0
41                        5416               5417    0.0    0.0    0.0    0.0
42                        5427               5428    0.0    0.0    0.0    0.0
43                        5429               5430    0.0    0.0    0.0    0.0
44                        5435               5436    0.0    0.0    0.0    0.0
45                        5439               5440    0.0    0.0    0.0    0.0
46                        5448               5449    0.0    0.0    0.0    0.0
47                        5458               5459    0.0    0.0    0.0    0.0
48                        5482               5483    0.0    0.0    0.0    0.0
49                        5490               5491    0.0    0.0    0.0    0.0

Electrode  A1_25  A1_31  A1_35  A1_36  ...  B3_48  B3_51  B3_52  B3_53  B3_54  \
0            0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
1            0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
2            0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
3            0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
4            0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
5            0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
6            0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
7            0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
8            0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
9            0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
10           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
11           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
12           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
13           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
14           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
15           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
16           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
17           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
18           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
19           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
20           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
21           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
22           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
23           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
24           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
25           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
26           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
27           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
28           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
29           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
30           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
31           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
32           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
33           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
34           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
35           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
36           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
37           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
38           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
39           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
40           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
41           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
42           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
43           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
44           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
45           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
46           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
47           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
48           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0
49           0.0    0.0    0.0    0.0  ...    0.0    0.0    0.0    0.0    0.0

Electrode  B3_56  B3_58  B3_62  B3_72  B3_85
0            0.0    0.0    0.0    0.0    0.0
1            0.0    0.0    0.0    0.0    0.0
2            0.0    0.0    0.0    0.0    0.0
3            0.0    0.0    0.0    0.0    0.0
4            0.0    0.0    0.0    0.0    0.0
5            0.0    0.0    0.0    0.0    0.0
6            0.0    0.0    0.0    0.0    0.0
7            0.0    0.0    0.0    0.0    0.0
8            0.0    0.0    0.0    0.0    0.0
9            0.0    0.0    0.0    0.0    0.0
10           0.0    0.0    0.0    0.0    0.0
11           0.0    0.0    0.0    0.0    0.0
12           0.0    0.0    0.0    0.0    0.0
13           0.0    0.0    0.0    0.0    0.0
14           0.0    0.0    0.0    0.0    0.0
15           0.0    0.0    0.0    0.0    0.0
16           0.0    0.0    0.0    0.0    0.0
17           0.0    0.0    0.0    0.0    0.0
18           0.0    0.0    0.0    0.0    0.0
19           0.0    0.0    0.0    0.0    0.0
20           0.0    0.0    0.0    0.0    0.0
21           0.0    0.0    0.0    0.0    0.0
22           0.0    0.0    0.0    0.0    0.0
23           0.0    0.0    0.0    0.0    0.0
24           0.0    0.0    0.0    0.0    0.0
25           0.0    0.0    0.0    0.0    0.0
26           0.0    0.0    0.0    0.0    0.0
27           0.0    0.0    0.0    0.0    0.0
28           0.0    0.0    0.0    0.0    0.0
29           0.0    0.0    0.0    0.0    0.0
30           0.0    0.0    0.0    0.0    0.0
31           0.0    0.0    0.0    0.0    0.0
32           0.0    0.0    0.0    0.0    0.0
33           0.0    0.0    0.0    0.0    0.0
34           0.0    0.0    0.0    0.0    0.0
35           0.0    0.0    0.0    0.0    0.0
36           0.0    0.0    0.0    0.0    0.0
37           0.0    0.0    0.0    0.0    0.0
38           0.0    0.0    0.0    0.0    0.0
39           0.0    0.0    0.0    0.0    0.0
40           0.0    0.0    0.0    0.0    0.0
41           0.0    0.0    0.0    0.0    0.0
42           0.0    0.0    0.0    0.0    0.0
43           0.0    0.0    0.0    0.0    0.0
44           0.0    0.0    0.0    0.0    0.0
45           0.0    0.0    0.0    0.0    0.0
46           0.0    0.0    0.0    0.0    0.0
47           0.0    0.0    0.0    0.0    0.0
48           0.0    0.0    0.0    0.0    0.0
49           0.0    0.0    0.0    0.0    0.0

[50 rows x 136 columns]

In [18]:
import pandas as pd
import numpy as np

# Sample data
data = {
    'Time (s)': [307.08968, 307.08664, 307.09296, 307.09304, 307.36496, 307.09232, 
                 307.09368, 307.0824, 307.09368, 154.17472, 161.01752, 164.39832, 
                 166.95104, 171.13176, 409.55432, 307.07872, 307.08992],
    'Electrode': ['A1_11', 'A1_13', 'A1_13', 'A1_14', 'A1_16', 'A1_25', 'A1_31', 
                  'A1_35', 'A1_35', 'A1_36', 'A1_36', 'A1_36', 'A1_36', 'A1_36', 
                  'A1_36', 'A1_41', 'A1_42'],
    'Amplitude (mV)': [0.039, 0.01, 0.005, 0.009, 0.009, 0.009, 0.009, 0.011, 0.008, 
                       0.016, 0.017, 0.022, 0.017, 0.015, 0.019, 0.013, 0.02]
}

# Create DataFrame
df = pd.DataFrame(data)

# Define the start and end times for the intervals (in seconds)
interval_start = 0
interval_end = 500  # Adjust this based on your data's max time
interval_size = 1   # Interval size in seconds

# Create intervals and bin the data
bins = np.arange(interval_start, interval_end + interval_size, interval_size)
df['Interval'] = pd.cut(df['Time (s)'], bins, right=False)

# Pivot the table to have electrodes as columns and intervals as rows
pivot_table = df.pivot_table(index='Interval', columns='Electrode', aggfunc='size', fill_value=0)

# Create interval start and end times for the output
interval_table = pd.DataFrame({
    'Interval Start (S)': bins[:-1],
    'Interval End (S)': bins[1:]
})

# Merge the interval times with the pivot table
final_table = pd.concat([interval_table, pivot_table.reset_index(drop=True)], axis=1)

# Display the final result
final_table.head(50)

C:\Users\Lindsay\AppData\Local\Temp\ipykernel_26068\3010094190.py:29: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_table = df.pivot_table(index='Interval', columns='Electrode', aggfunc='size', fill_value=0)

,Interval Start (S),Interval End (S),A1_11,A1_13,A1_14,A1_16,A1_25,A1_31,A1_35,A1_36,A1_41,A1_42
0,0,1,0,0,0,0,0,0,0,0,0,0
1,1,2,0,0,0,0,0,0,0,0,0,0
2,2,3,0,0,0,0,0,0,0,0,0,0
3,3,4,0,0,0,0,0,0,0,0,0,0
4,4,5,0,0,0,0,0,0,0,0,0,0
5,5,6,0,0,0,0,0,0,0,0,0,0
6,6,7,0,0,0,0,0,0,0,0,0,0
7,7,8,0,0,0,0,0,0,0,0,0,0
8,8,9,0,0,0,0,0,0,0,0,0,0
9,9,10,0,0,0,0,0,0,0,0,0,0
10,10,11,0,0,0,0,0,0,0,0,0,0
11,11,12,0,0,0,0,0,0,0,0,0,0
12,12,13,0,0,0,0,0,0,0,0,0,0
13,13,14,0,0,0,0,0,0,0,0,0,0
14,14,15,0,0,0,0,0,0,0,0,0,0
15,15,16,0,0,0,0,0,0,0,0,0,0
16,16,17,0,0,0,0,0,0,0,0,0,0
17,17,18,0,0,0,0,0,0,0,0,0,0
18,18,19,0,0,0,0,0,0,0,0,0,0
19,19,20,0,0,0,0,0,0,0,0,0,0
20,20,21,0,0,0,0,0,0,0,0,0,0
21,21,22,0,0,0,0,0,0,0,0,0,0
22,22,23,0,0,0,0,0,0,0,0,0,0
23,23,24,0,0,0,0,0,0,0,0,0,0
24,24,25,0,0,0,0,0,0,0,0,0,0
25,25,26,0,0,0,0,0,0,0,0,0,0
26,26,27,0,0,0,0,0,0,0,0,0,0
27,27,28,0,0,0,0,0,0,0,0,0,0
28,28,29,0,0,0,0,0,0,0,0,0,0
29,29,30,0,0,0,0,0,0,0,0,0,0
30,30,31,0,0,0,0,0,0,0,0,0,0
31,31,32,0,0,0,0,0,0,0,0,0,0
32,32,33,0,0,0,0,0,0,0,0,0,0
33,33,34,0,0,0,0,0,0,0,0,0,0
34,34,35,0,0,0,0,0,0,0,0,0,0
35,35,36,0,0,0,0,0,0,0,0,0,0
36,36,37,0,0,0,0,0,0,0,0,0,0
37,37,38,0,0,0,0,0,0,0,0,0,0
38,38,39,0,0,0,0,0,0,0,0,0,0
39,39,40,0,0,0,0,0,0,0,0,0,0
40,40,41,0,0,0,0,0,0,0,0,0,0
41,41,42,0,0,0,0,0,0,0,0,0,0
42,42,43,0,0,0,0,0,0,0,0,0,0
43,43,44,0,0,0,0,0,0,0,0,0,0
44,44,45,0,0,0,0,0,0,0,0,0,0
45,45,46,0,0,0,0,0,0,0,0,0,0
46,46,47,0,0,0,0,0,0,0,0,0,0
47,47,48,0,0,0,0,0,0,0,0,0,0
48,48,49,0,0,0,0,0,0,0,0,0,0
49,49,50,0,0,0,0,0,0,0,0,0,0